@model IEnumerable<TransactionModel>


<div class="container p-3">
  <div class="row pt-4">
    <div class="col-6">
      <h2 class="text-primary">Transaction List</h2>
    </div>
    <div class="col-6 text-right">
      <a asp-controller="Transaction" asp-action="Create" class="btn btn-primary">
        <i class="fas fa-plus"></i> &nbsp; Create New Tranaction
      </a>
    </div>
  </div>

  <br /><br />

  @if (Model.Count() > 0)
  {
    <table class="table table-bordered table-striped" style="width:100%">
      <thead>
        <tr>
          <th>
            AccountCode
          </th>
          <th>
            TransactionDate
          </th>
          <th>
            CaptureDate
          </th>
          <th>
            Amount
          </th>
          <th>
            Description
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @foreach (var obj in Model)
        {
        <tr>
          <td width="10%">@obj.AccountCode</td>
          <td width="20%">@obj.TransactionDate</td>
          <td width="20%">@obj.CaptureDate</td>
          <td width="20%">@obj.Amount</td>
          <td width="30%">@obj.Description</td>

          <td class="text-center">
            <div class="w-80 btn-group" role="group">
              <a asp-controller="Account" asp-route-Id="@obj.Code" asp-action="Index" class="btn btn-primary mx-2">
                <i class="fa fa-backward"></i>
              </a>
              <a asp-controller="Transaction" asp-route-Id="@obj.Code" asp-action="Edit" class="btn btn-primary mx-2">
                <i class="fas fa-edit"></i>
              </a>
              <a asp-controller="Transaction" asp-route-Id="@obj.Code" asp-action="Delete" class="btn btn-danger mx-2">
                <i class="far fa-trash-alt"></i>
              </a>            
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table> }
  else
  {
    <p> No category exists.</p>}

